<script lang="ts" setup>
import { ref } from "vue";
let img = ref("./feeling_imgs/smile.png");
let head = ref("Smile");
</script>

<template>
  <v-container>
    <v-row>
      <v-col cols="6">
        <v-img width="500" :src="img"></v-img>
      </v-col>
      <v-col cols="6" style="text-align: center">
        <h1>{{ head }}</h1>
        <v-item-group>
          <v-col>
            <v-item v-slot="{ isSelected, toggle }">
              <v-card
                :color="isSelected ? '#FFFF00' : ''"
                height="50"
                @click="
                  (img = './feeling_imgs/angry.png'), (head = 'Angry');
                  toggle();
                "
              >
                <v-card-text class="text-center">
                  <text>ANGRY</text>
                </v-card-text>
              </v-card>
            </v-item>
            <br />
            <v-item v-slot="{ isSelected, toggle }">
              <v-card
                :color="isSelected ? '#FFFF00' : ''"
                height="50"
                @click="
                  (img = './feeling_imgs/cute.png'), (head = 'Cute');
                  toggle();
                "
              >
                <v-card-text class="text-center">
                  <text>CUTE</text>
                </v-card-text>
              </v-card>
            </v-item>
            <br />
            <v-item v-slot="{ isSelected, toggle }">
              <v-card
                :color="isSelected ? '#FFFF00' : ''"
                height="50"
                @click="
                  (img = './feeling_imgs/excited.png'), (head = 'Excited');
                  toggle();
                "
              >
                <v-card-text class="text-center">
                  <text>EXCITED</text>
                </v-card-text>
              </v-card>
            </v-item>
            <br />
            <v-item v-slot="{ isSelected, toggle }">
              <v-card
                :color="isSelected ? '#FFFF00' : ''"
                height="50"
                @click="
                  (img = './feeling_imgs/pain.png'), (head = 'Pain');
                  toggle();
                "
              >
                <v-card-text class="text-center">
                  <text>PAIN</text>
                </v-card-text>
              </v-card>
            </v-item>
            <br />
            <v-item v-slot="{ isSelected, toggle }">
              <v-card
                :color="isSelected ? '#FFFF00' : ''"
                height="50"
                @click="
                  (img = './feeling_imgs/shocked.png'), (head = 'Shocked');
                  toggle();
                "
              >
                <v-card-text class="text-center">
                  <text>SHOCKED</text>
                </v-card-text>
              </v-card>
            </v-item>
            <br />
            <v-item v-slot="{ isSelected, toggle }">
              <v-card
                :color="isSelected ? '#FFFF00' : ''"
                height="50"
                @click="
                  (img = './feeling_imgs/smile.png'), (head = 'Smile');
                  toggle();
                "
              >
                <v-card-text class="text-center">
                  <text>SMILE</text>
                </v-card-text>
              </v-card>
            </v-item>
          </v-col>
        </v-item-group>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped></style>
